.comment_list {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 20px;
  gap: 20px;
  background-color: rgba(11, 14, 22, 0.116);
}

/* 
  COMMENT AREA
  ---------------------------------------------------------------------------------------------------
*/

.comment_container {
  display: flex;
  width: 100%;
  gap: 10px;

  .user_picture {
    width: 40px;
    height: 40px;
  }
}

.comment_content {
  width: 100%;
  padding: 5px;
  background-color: var(--input_bg_color);
  border-radius: 10px;
  .comment_head {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 26px;
    width: 100%;
    strong {
      color: var(--comment_head_font_color);
      font-size: var(--comment_head_font_size);
    }
    .date {
      font-size: var(--comment_head_font_size);
    }

    .option_button {
      svg {
        padding: 0;
      }
    }
  }
  .text_content {
    color: var(--comment_font_color);
    font-size: var(--comment_font_size);
    white-space: break-spaces;
  }
  .form_ctrl {
    .textarea_padding {
      padding: 0;
      .textarea {
        font-size: var(--comment_font_size);
        color: var(--comment_font_color);
      }
    }
    .button_container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      height: 25px;
      .cancel_button {
        color: var(--app_warn_color);
      }
      .update_button {
        color: var(--app_active_color);
      }
    }
  }
  .content_link {
    font-size: var(--comment_font_size);
  }
  .like_container {
    margin-top: 10px;
    justify-content: flex-start !important;

    .like_button {
      .like_count {
        font-size: var(--comment_like_font_size);
        svg {
          width: 20px;
          height: 20px;
          padding: 0;
        }
      }
    }
  }
}

/* 
  ADD COMMENT AREA
  ---------------------------------------------------------------------------------------------------
*/

.add_comment {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  .user_picture {
    width: 40px;
    height: 40px;
  }

  .form_ctrl {
    width: 100%;
    background-color: var(--input_bg_color);
    border-radius: var(--input_border_radius);
    .textarea {
      font-size: var(--comment_font_size);
      color: var(--comment_font_color);
    }
    .submit_comment_button {
      display: block;
      margin-left: auto;
      cursor: pointer;
      padding: 4px;
      color: var(--app_active_color);
    }
  }
}

/* 
  EXPAND COMMENT LINK (IF SHOW)
  ---------------------------------------------------------------------------------------------------
*/

.expand_comment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  span {
    cursor: pointer;
    color: var(--app_active_color);
    padding: 4px 20px;
  }
}
