@media (max-width: 769px) {
  .layout {
    --app_border_radius: 0;
    --header_padding: 20px;
    --header_height: 50px;
  }
  .post_container,
  .user_header,
  .add_post_button {
    border-left: none;
    border-right: none;
    box-shadow: 0 6px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 481px) {
  .layout {
    --app_border_radius: 0;
    --header_padding: 10px;
    --header_height: 50px;
    --input_padding: 10px;
    --button_padding: 10px;
    --button_margin_top: 40px;
  }
}
